<?xml version='1.0' encoding='utf-8'?>
<widget id="nl.uu.digitalhumanities.doordenkertjes" version="1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Doordenkertjes</name>
    <description>
        Reflecteer op ethische vragen in de kinderdagopvang.
    </description>
    <author email="digitalhumanities@uu.nl" href="http://digitalhumanities.wp.hum.uu.nl">
        Digital Humanities Lab, Universiteit Utrecht
    </author>
    <preference name="permissions" value="none" />
    <preference name="phonegap-version" value="5.1.1" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="15" />
    <preference name="android-installLocation" value="auto" />
    <icon src="www/icon.png" />
    <platform name="android">
        <icon src="res/icon/android/icon-36-ldpi.png" density="ldpi" />
        <icon src="res/icon/android/icon-48-mdpi.png" density="mdpi" />
        <icon src="res/icon/android/icon-72-hdpi.png" density="hdpi" />
        <icon src="res/icon/android/icon-96-xhdpi.png" density="xhdpi" />
        <splash src="res/screen/android/portrait_ldpi.png" density="port-ldpi" />
        <splash src="res/screen/android/portrait_mdpi.png" density="port-mdpi" />
        <splash src="res/screen/android/portrait_hdpi.png" density="port-hdpi" />
        <splash src="res/screen/android/portrait_xhdpi.png" density="port-xhdpi" />
        <splash src="res/screen/android/landscape_ldpi.png" density="land-ldpi" />
        <splash src="res/screen/android/landscape_mdpi.png" density="land-mdpi" />
        <splash src="res/screen/android/landscape_hdpi.png" density="land-hdpi" />
        <splash src="res/screen/android/landscape_xhdpi.png" density="land-xhdpi" />
    </platform>
    <platform name="ios">
        <icon src="res/icon/ios/icon-57.png" height="57" width="57" />
        <icon src="res/icon/ios/icon-72.png" height="72" width="72" />
        <icon src="res/icon/ios/icon-57-2x.png" height="114" width="114" />
        <icon src="res/icon/ios/icon-72-2x.png" height="144" width="144" />
        <splash src="res/screen/ios/portrait_iphone.png" width="320" height="480" />
        <splash src="res/screen/ios/portrait_iphone_2x.png" width="640" height="960" />
        <splash src="res/screen/ios/portrait_iphone568_2x.png" width="640" height="1136" />
        <splash src="res/screen/ios/portrait_iphone667_2x.png" width="750" height="1334" />
        <splash src="res/screen/ios/portrait_iphone736_3x.png" width="1242" height="2208" />
        <splash src="res/screen/ios/landscape_iphone736_3x.png" width="2208" height="1242" />
        <splash src="res/screen/ios/portrait_ipad.png" width="768" height="1024" />
        <splash src="res/screen/ios/portrait_ipad_2x.png" width="1536" height="2048" />
        <splash src="res/screen/ios/landscape_ipad.png" width="1024" height="768" />
        <splash src="res/screen/ios/landscape_ipad_2x.png" width="2048" height="1536" />
    </platform>
    <access origin="https://doordenkertjes.hum.uu.nl" />
    <access origin="https://ssl.gstatic.com" />
</widget>
